#campoC{
    width: 600px;
    height:700px;
 
    margin:0;
    padding:0;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
   
}



#campoNum{
    width: 448px;
    height:65px;
    background-color:#ae37ff;
    border: 0.25em solid black;
    display:flex;
    align-items:center;
    justify-content: center;
}
#campoTela{

    width: 430px;
    height:46px;
    background-color: azure;
    display: flex;
    flex-direction:row-reverse;
    color:#3c0064;
}
#campoTeclado{
    width: 450px;
    height:550px;
    margin:0;
    padding:0;
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
    border:3px solid black;
}
.formatoBotaos{
    width: 112.5px;
    height:110px;
    background-color:#e3b9ff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.formatoBotaos:hover{
    background-color:#ba55ff;
    cursor: pointer;

}